<!--The content below is only a placeholder and can be replaced.-->

<h2 style="color: white">Gym of Hope</h2>
<button mat-raised-button color="warn" (click)="isLoggedIn = !isLoggedIn">{{ isLoggedIn ? 'log out' : 'log in' }} </button>

<!-- <div *ngIf="isLoggedIn"> -->


  <div style="text-align:center" class="wrapper">
    <h1 style="color: lightcoral">
      Welcome to {{ title }}
    </h1>

    <div class="gallery">
      <img width="1000" src="../assets/fat.jpg">

      <p class="firstP info">
        Lorem ipsum dolor amet vaporware roof party tbh hexagon. Cronut taiyaki umami, brunch heirloom raw denim copper mug echo park hell of williamsburg schlitz truffaut listicle iceland. Gentrify taiyaki tacos, post-ironic bitters coloring book cornhole next level sartorial. Williamsburg taiyaki knausgaard mustache. Cronut wolf knausgaard DIY fingerstache pour-over. Meggings flannel vegan air plant ethical cold-pressed, plaid sartorial green juice mlkshk bespoke
      </p>

      <img width="1000" src="../assets/Detroit-Youth-Boxing.jpg">

      <p class="info">
        Occupy squid kombucha hot chicken asymmetrical man bun farm-to-table blue bottle jianbing food truck beard. Butcher la croix chambray typewriter ugh jean shorts distillery asymmetrical sriracha. Bushwick next level church-key cloud bread tumeric viral. Helvetica offal live-edge succulents pabst keffiyeh.

        Quinoa hoodie listicle, try-hard neutra literally edison bulb tumblr trust fund flexitarian butcher flannel. Crucifix tacos enamel pin artisan pug heirloom hammock hoodie scenester squid blue bottle. Flannel wolf hexagon narwhal air plant humblebrag hoodie migas woke banjo hashtag edison bulb copper mug. Twee pour-over bushwick enamel pin readymade leggings 8-bit 3 wolf moon unicorn direct trade tilde cronut sartorial meggings.
      </p>

      <img src="../assets/Shot.png">

      <p class="info">
        Lorem ipsum dolor amet vaporware roof party tbh hexagon. Cronut taiyaki umami, brunch heirloom raw denim copper mug echo park hell of williamsburg schlitz truffaut listicle iceland. Gentrify taiyaki tacos, post-ironic bitters coloring book cornhole next level sartorial. Williamsburg taiyaki knausgaard mustache. Cronut wolf knausgaard DIY fingerstache pour-over. Meggings flannel vegan air plant ethical cold-pressed, plaid sartorial green juice mlkshk bespoke.

        Occupy squid kombucha hot chicken asymmetrical man bun farm-to-table blue bottle jianbing food truck beard. Butcher la croix chambray typewriter ugh jean shorts distillery asymmetrical sriracha. Bushwick next level church-key cloud bread tumeric viral. Helvetica offal live-edge succulents pabst keffiyeh.
      </p>
    </div>
  </div>
<!-- </div> -->


<button (click)="onClick()" mat-raised-button color="primary">Joy</button>
